APP_NAME=Test App

APP_PATH_BASE=/test
URL_PREFIX=/api/v1

PORT=4000
HOST=localhost


PUBLIC_DIR=../public

UPLOADS_DIR=../../public/uploads
MAX_UPLOAD_FILE_SIZE=1000000

LOG_LEVEL=info
LOG_TO_FILE=true
LOG_DIR=logs
LOG_FILENAME=app.log

SSL=true
SSL_KEY_PATH=../../dev-stack/certs/local-key.pem
SSL_CERT_PATH=../../dev-stack/certs/local-cert.pem

CORS_ALLOWED_ORIGINS=

DB_HOST=localhost
DB_PORT=5432
DB_NAME=test2
DB_USERNAME=postgres 
DB_PASSWORD=admin

TYPEORM_LOGGER=file
TYPEORM_LOGGING=error
TYPEORM_MAX_QUERY_EXECUTION_TIME=1000

MAIL_HOST = smtp.ethereal.email
MAIL_PORT = 587
MAIL_USERNAME = 
MAIL_PASSWORD = 
MAIL_FROM_NAME = Emmanuel Crooks
MAIL_FROM_EMAIL = 

SESSION_SECRET=123
SESSION_COOKIE_NAME=
SESSION_COOKIE_DOMAIN=

PASSWORD_RESET_TOKEN_TTL=600000
EMAIL_VERIFICATION_TOKEN_TTL=600000

GOOGLE_AUTH_CLIENT_ID=
GOOGLE_AUTH_CLIENT_SECRET=

FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=
