<style>
  .message-content { font-family: Arial, Helvetica, sans-serif; max-width: 600px; font-size: 18px; line-height: 21px; }
</style>
<div class='message-content'>
  <p>Welcome to {{appName}}!</p>

  <p>Check out our quick start to help you get things rolling. You can find it, and the rest of our documentation, here:
    https://fly.io/docs/</p>

  <p>If you have questions, get stuck, or want to talk about what you're building, visit our community discussion forum:
    https://community.fly.io/</p>

  <p>First, please verify your email</p>

  <a href='{{verifyEmailLink}}'>Verify Email</a>
  <a href='{{sendNewVerificationLink}}'>Send new verification link</a>

  <p>Thanks for trying our project.</p>

  <p>The {{appName}} Team</p>
</div>